body{
    font-family: 'Playfair Display', serif; 
    margin: 0%;
}
h1{
    font-size: 50px;
}
.orange{
    color: orange;

}
.flexible{
    display: flex;
    margin-bottom: 100px;
    
}
.half-width{
    width: 50%;
    padding-left: 10%;
    
}
.half-width img{
    width: 80%;
}
.link{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: aliceblue;
    font-weight: 700;
    border-radius: 5px;
    

}
.banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dreambig{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}

.padd{
    padding-left: 5%;
}

.exp{
    box-shadow:10px 10px 40px grey;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    

}

.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}
#one{
    border-left: 7px solid blue;
}
#two{
    border-left: 7px solid orange;
}
.foot{
    text-align: center;
}